*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-main: purple;
    --montserrat: "Montserrat", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --purple: #792aaf;
    --dark-purple: #1c0c35;
    --light-purple: #ae89c9;
    --dark: #000000;
    --white: #ffffff;
    --grey: #232323;
}

.body{
    background-color: var(--dark);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section__image-img{
    width: 250px;
}

.error{
    text-align: center;
    font-size: 3rem;
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 800;
    margin-top: 10px;
}

.number{
    text-align: center;
    font-size: 6rem;
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 800;
}

.opps{
    text-align: center;
    font-size: 2rem;
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 400;
}

.not__found{
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--montserrat);
    color: var(--white);
}

.inicio{
    padding: 7px 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--montserrat);
    color: var(--white);
    background-color: purple;
    border: solid 3px purple;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    bottom: 25px;
}

.inicio:hover{
    background-color: rgba(140, 15, 149, 0.489);
    color: white;
    border: 3px solid rgb(128, 0, 128);
}

@media(min-width: 768px){

    .section__image-img{
        width: 450px;
        overflow: hidden;
    }

    .section{
        margin-top: 10px;
    }

    .error{
        font-size: 3.5rem;
    }
    
    .number{
        font-size: 6rem;
        font-weight: 800;
    }
    
    .opps{
        font-size: 2.5rem;
    }
    
    .not__found{
        margin-top: 10px;
    }

    .inicio{
        padding: 10px 20px;
        position: relative;
        bottom: 50px;
    }
}

@media(min-width: 1024px){
    .error{
        font-size: 5rem;
    }
    
    .number{
        font-size: 7.5rem;
    }
    
    .opps{
        font-size: 2.8rem;
    }
    
    .not__found{
        font-size: 1.8rem;
    }
    
    .inicio{
        font-size: 1.3rem;
        position: relative;
        bottom: 70px;
    }
}